main{
    background-color: $background;
}
/*Jumbotron*/

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.jumbotron{
    h1{
        text-shadow: 0px 0px 10px black;
    }  
}

/*API*/

.Block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.Imageproduit{
    width: 225,7px;
    height: 150px;
}

.B2{
    margin-left: 20px;
    border-radius: 5%;
    box-shadow: 0 1px 0 $secondary, 0 -1px 0 $third;;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    h2{
        text-shadow: 0 1px 0 $secondary, 0 -1px 0 $third;
    }
}

